OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
XAI_API_KEY=
MISTRAL_API_KEY=
DEEPINFRA_API_KEY=
GROQ_API_KEY=
BRAVE_API_KEY=
EXA_API_KEY=
LINKUP_API_KEY=
TAVILY_API_KEY=

TRLAB_URL=http://localhost:5173
COLLECT_EVERY_MINUTES=30
RANK_TIMES=00:00,06:00,12:00,18:00
